#settings_plugin_octorant .octorant_category{
    margin-left: 1em;
}

#settings_plugin_octorant h4{
    margin-top: 1em;
    text-transform: capitalize;
}


#settings_plugin_octorant .octorant_message{
    background: rgba(0,0,0,.1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    transition: opacity ease-in-out 0.1s;
}
#settings_plugin_octorant .octorant_message.inactive{
    opacity: 0.5;
}
#settings_plugin_octorant .octorant_message.inactive:hover{
    opacity: 1;
}

#settings_plugin_octorant .octorant_message h5, 
#settings_plugin_octorant .octorant_message h5 *{
    margin: 0;
}

#settings_plugin_octorant .octorant_message .control-group{
    margin-bottom: 3px;
}
