<div class="octorant_category">
    <!-- achievement_unlocked -->
    <div class="octorant_message" data-bind="css: {inactive: (events['achievement_unlocked'].enabled() == false)}">
        <h5>
            <input type="checkbox" class="" data-bind="checked: events['achievement_unlocked'].enabled" />
            <span>{{ _("Achievement unlocked") }}</span>
        </h5>
        <div data-bind="visible: events['achievement_unlocked'].enabled">
            <div class="control-group">
                <label class="control-label" for="octorant_message_achievement_unlocked">{{ _("Message") }}</label>
                <div class="controls">
                    <input type="text" class="input-block-level" id="octorant_message_achievement_unlocked"
                        data-bind="textInput: events['achievement_unlocked'].message" />
                    <span class="help-inline" data-bind="if: events['achievement_unlocked'].variables().length > 0">
                        <small>Variables:</small>
                        <small data-bind="foreach: events['achievement_unlocked'].variables">
                            <code>{<!--ko text: $data--><!--/ko-->}</code>
                        </small>
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="octorant_media_achievement_unlocked">{{ _("Include media") }}</label>
                <div class="controls">
                    <select id="octorant_media_achievement_unlocked"
                        data-bind="value: events['achievement_unlocked'].media">
                        <option value="none">{{ _("None") }}</option>
                        <option value="thumbnail">{{ _("GCODE Thumbnail (if available)") }}</option>
                        <option value="snapshot">{{ _("Webcam snapshot") }}</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="octorant_embed_achievement_unlocked">
                    Display as Embed
                </label>
                <div class="controls">
                    <input type="checkbox" id="octorant_embed_achievement_unlocked" class=""
                        data-bind="checked: events['achievement_unlocked'].embed_used" />
                </div>
            </div>
        </div>
    </div>
</div>