<h3>{{ _('Discord settings') }}</h3>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Webhook URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.octorant.url">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Bot Name') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.octorant.username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Bot Avatar URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.octorant.avatar">
        </div>
    </div>
    <div style="clear:both">
        <small>{{ _("If you modify these settings, a test message will be sent to the Discord channel.") }}</small>
    </div>
</form>
<h3>{{ _('Messages settings') }}</h3>
<form class="form-horizontal" data-bind="foreach: {data:settings.plugins.octorant.categories, as: 'category', noChildContext: true}">
    <h4>
        <span data-bind="text: category"></span>
    </h4>
    <div class="octorant_category" data-bind="foreach: {data:Object.keys(settings.plugins.octorant.events), as:'id', noChildContext: true}">

        <!-- ko if: (settings.plugins.octorant.events[id].category && settings.plugins.octorant.events[id].category() === category) -->
        <div class="octorant_message" data-bind="css: {inactive: (settings.plugins.octorant.events[id].enabled() == false)}">
            <h5>
                <input type="checkbox" class="" data-bind="checked: settings.plugins.octorant.events[id].enabled"/>
                <span data-bind="text: settings.plugins.octorant.events[id].name"></span>
            </h5>
            <div class="control-group" data-bind="visible: settings.plugins.octorant.events[id].enabled">
                <label class="control-label">{{ _("Message") }}</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: settings.plugins.octorant.events[id].message"/>
                </div>
            </div>
            <div class="control-group" data-bind="visible: settings.plugins.octorant.events[id].enabled">
                <label class="control-label">{{ _("Include snapshot") }}</label>
                <div class="controls">
                    <input type="checkbox" data-bind="checked: settings.plugins.octorant.events[id].with_snapshot"/>
                </div>
            </div>
            <div class="control-group" data-bind="if: settings.plugins.octorant.events[id].temperature, visible: settings.plugins.octorant.events[id].enabled">
                <label class="control-label">{{ _("Notify at") }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" min="1" max="60" step="1" data-bind="value: settings.plugins.octorant.events[id].temperature"/>
                        <span class="add-on" data-bind="text: settings.plugins.octorant.events[id].temperature_unit"></span>
                    </div>
                </div>
            </div>
            <div class="control-group" data-bind="if: settings.plugins.octorant.events[id].step, visible: settings.plugins.octorant.events[id].enabled">
                <label class="control-label">{{ _("Notify every") }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" min="1" max="100" step="1" data-bind="value: settings.plugins.octorant.events[id].step"/>
                        <span class="add-on" data-bind="text: settings.plugins.octorant.events[id].step_unit"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</form>
<h3>Scripts settings</h3>
<form class="form-horizontal">
    <div style="clear:both">
        <p>{{ _("To modify these settings, you need to set") }} <code>allow_scripts: true</code> {{ _("in your configuration file.") }}</p>
    </div>
    <div  data-bind="visible: settings.plugins.octorant.allow_scripts">
        <div class="control-group">
            <label class="control-label">{{ _('Before message, start:') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.octorant.script_before">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('After message, start:') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.octorant.script_after">
            </div>
        </div>
        <div style="clear:both">
            <p>
                {{ _("Here you can specify a file to be executed <strong>before</strong> and <strong>after</strong> each message is sent to Discord.") }}
                {{ _("<strong>The file should be executable by the user under which OctoPrint is running</strong>") }}
            </p>
        </div>
    </div>
</form>
