<h3>{{ _('Discord settings') }}</h3>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Webhook URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.octorant.url">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Bot Name') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.octorant.username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Bot Avatar URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.octorant.avatar">
        </div>
    </div>
    <div style="clear:both">
        <small>{{ _("If you modify these settings, a test message will be sent to the Discord channel.") }}</small>
    </div>
</form>
<h3>{{ _('Messages settings') }}</h3>
<form class="form-horizontal">
    <h4>
        <span>{{ _("System") }}</span>
    </h4>
    {% include "messages_system.jinja2" %}
    <h4>
        <span>{{ _("Printer") }}</span>
    </h4>
    {% include "messages_printer.jinja2" %}
    <h4>
        <span>{{ _("Transfer to SD card") }}</span>
    </h4>
    {% include "messages_transfer.jinja2" %}
    <h4>
        <span>{{ _("Prints") }}</span>
    </h4>
    {% include "messages_prints.jinja2" %}
    <h4>
        <span>{{ _("Printing Progress") }}</span>
    </h4>
    {% include "messages_progress.jinja2" %}
    <h4>
        <span>{{ _("Timelapses") }}</span>
    </h4>
    {% include "messages_timelapse.jinja2" %}
</form>
<div data-bind="visible: settings.settings.plugins.octorant.allow_scripts">
    <h3>Scripts settings</h3>
    <form class="form-horizontal">
        <div class="alert alert-danger">
            <p>Those settings are now <strong>unused</strong>.</p>
            <p>
                Following our deprecation notice, we removed scripts support. You are strongly encouraged to use the
                <strong>Event Manager</strong>.
                Two specific events are available: <code>plugin_octorant_before_notify</code> and
                <code>plugin_octorant_after_notify</code>.
            </p>
            <p>
                The previously-configured values are displayed below to help you copy them to the Event Manager.
            </p>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Before message, start:') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level"
                    data-bind="value: settings.settings.plugins.octorant.script_before" disabled>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('After message, start:') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level"
                    data-bind="value: settings.settings.plugins.octorant.script_after" disabled>
            </div>
        </div>
    </form>
</div>